nav {
    width: 100%;
    margin: 0 auto;
    background-color: #32508d;
    position: sticky;
    top: 0px;
    padding-top: 10px;
}

nav ul {
    vertical-align: middle;
    list-style-type: none;
}

nav ul li {
    float: left;
    width: 23%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: black;
    border-bottom: 2px solid 32508d;
}

.sous {
    display: none;
    box-shadow: 0px 0px 0px;
    background-color: #3dc3ff;
    position: absolute;
    z-index: 1000;
}


nav > ul li:hover .sous {
    display: block;
}


.sous li {
    float: none;
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    top:0;

}

.sous a{
    border-bottom: none;
}

.sous a::before {
    content: '';
    position: absolute;
    inset: 0;
}

.sous li:hover {
    border-bottom: none;
    background-color: #3dc3ff;
}

.deroulant > a::after {
    content: " ▼";
    font-size: 12px;
}


.sous2 {
    display: none;
    box-shadow: 0px 0px 0px;
    background-color: #3dc3ff;
    position: absolute;
    z-index: 1000;
}



nav > ul .sous li:hover .sous2 {
    display: block;
}

.sous2 li {
    float: none;
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    top:0;

}

.sous2 a{
    border-bottom: none;
}

.sous2 a::before {
    content: '';
    position: absolute;
    inset: 0;
}

.sous2 li:hover {
    border-bottom: none;
    background-color: #3dc3ff;
}

.deroulant2 > a::after {
    content: " ▼";
    font-size: 12px;
}


nav .deroulant ul li a {
    color: #000;
}